*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
  }
  a{
    text-decoration: none;
    color: #000;
  }
  li{
    list-style: none;
  }

  a:focus,
  a:hover {
    color: #23527c;
    text-decoration: none!important;
  }

  hr{
    border: 0.5px solid #4fa2c3;
    background: #4fa2c3;
    border-radius: 15px;
  }
.container-full{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 10vh;

  }
  .item-bloc2{
    width: 87%;
    margin-left:13%
  }
  .items-bloc1{
    width: 13%;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 0.5px solid #aaa;
    background: url("../medias/wave_v.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    background-size: 161px;
  }
  .box-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    margin: 8px;
  }
  .box-logo img{
    width: 115px;
  }
  .menu-items ul{
    padding:0 5px;
    margin-top: 30px;
  }
  .menu-items ul li{
    text-align:center;
    max-height: 50px;
  }
  .menu-items ul li a{
    color: #fff;
    display: flex;
    padding: 3px 6px;
    font-size: 14px;
    align-items: center;
  }
  .act-show a{
    color: #000!important;
    border-right: 3px solid #4fa2c3;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
    background-image: linear-gradient(to right, rgba(255,0,0,0), #f4f5f8d1);
  }
  .act-show a span{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
.menu-items ul li a:hover {
    color: #fff;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}
.menu-items ul li a .icone-menu{
  border: 2px solid #4fa2c3;
  border-radius: 50%;
  padding: 5px;
  width: 33px;
  height: 33px;
  margin-right: 5px;
  background-color: #fff;
}

.menu-items ul li a span ion-icon{
  font-size: 18px;
  color: #000!important;
}

.contente-full{
  width: 100%;
}

.head-152{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 0.5px solid #4fa2c3;
}
.head-152 h6{
  display: flex;
  border: 1px solid #4fa2c3;
  border-radius: 25px;
  padding: 10px 35px;
  width: auto;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.head-152 h6 span{
  font-size: 20px;
  padding-right: 15px;
}

.help-container ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-container ul li a{
  border-radius: 50%;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  margin-right: 15px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-container ul li p{
  width: 15px;
  height: 15px;
  background: #b71111;
  border-radius: 25px;
  position: absolute;
  top: 12px;
  right: 75px;
}

.container-225{
  padding:25px 15px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.card-225{
  position: relative;
  width: 225px;
  height: 150px;
  background: #4fa2c3;
  border-radius: 20px;
  margin: 15px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  align-items: center;
  justify-content: center;
}

.card-226{
  position: relative;
  width: 200px;
  height: 140px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.zone-t{
  position: relative;
  left: 10px;
  width: 35px;
  height: 90px;
  background: #4fa2c3;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  box-shadow: inset 15px 0px 14px 0 rgb(0 0 0 / 20%), inset 10px 0px 9px 0 rgb(0 0 0 / 19%);
}
.zone-t::before{
  content: '';
  position: absolute;
  top: -8px;
    right: 3px;
    width: 10px;
    height: 10px;
    background: #ff000000;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 2px 0px 1px #4fa2c3;
}
.zone-t::after{
  content: '';
  position: absolute;
  bottom: -8px;
  right: 3px;
  width: 10px;
  height: 10px;
  background: #ff000000;
  border-top-right-radius: 15px;
  box-shadow: 6px -2px 0px 0px #4fa2c3;
}
.content-box{
  margin: 0 10px;
}
.content-box p{
  width: 45px;
  height: 45px;
  border: 2px solid #4fa2c3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 5px;
}
.content-box h4{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
}

.title-002{
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #686868;
  text-align: left;
  padding: 8px;
  height: 60px;
}

.dash_footer{
  position: fixed;
  bottom: 0px;
  background: #fff;
  width: 85%;
  border-top: 1px solid #4fa2c3;
}
.dash_footer p{
  text-align: center;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.pl-258{
  text-align: center;
  margin-top: 26px;
}
.pl-258 a{
  border: 2px solid #4fa2c3;
  border-radius: 25px;
  padding: 10px 35px;
  background: #4fa2c3;
  color: #fff;
  width: auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-transform: uppercase;
}

/*information*/
.container-225-i{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.tab-container-content{
  width: 85%;
  position: relative;
  right: -95px;
}

.editor{
  width: 100%;
  height: auto;
}

.tab-container{
  width: 100%;
  height: 70vh;
  max-width: 1140px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.tab-menus{
  display: grid;
  padding: 0 10px;
  height: 95%;
  align-items: center;
  align-content: stretch;
}
.tab-menus li a{
  display: block;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-transform: uppercase;
  background: #fff;
  font-size: 10px;
  font-weight: bold
}
.tab-container-menu{
  position: fixed;
  width: 170px;
  height: 70%;
  overflow: auto;
  left: 190px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.tab-container-menu>ul>li>a.active_tab {
  background: #2fb965;
  color: #fff;
  border: 2px solid #fff;
}
.tab-content{
  height: 450px;
  overflow: overlay;
}
.add_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    margin: 10px 2px;
  }
.add_btn p{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
.add_btn p a{
  border: 2px solid #4fa2c3;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background: #4fa2c3;
  color: #fff;
}
.add_btn p span{
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 5%;
  text-transform: uppercase;
}
.add_btn p .imag_28{
  background-image: url("../medias/kofre.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*Task*/
.menu-project{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*border: 2px solid #4fa2c3;*/
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.menu-project .list-menu-project{
  display: contents;
  /*align-items: center;
  justify-content: space-between;*/
  padding: 5px;
}
.menu-project .list-menu-project p{
  margin-bottom: 0;
}
.menu-project > p{
  margin-bottom: 0;
  cursor: pointer;
  border: 2px solid #4fa2c3;
    background: #4fa2c3;
    color: #fff;
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}
.menu-project div .projectLink p{
  /*border-right: 2px solid #4fa2c3;*/
  padding: 2px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  width: 200px;
  cursor: pointer;
}
.active_proj{
  border-bottom: 2px solid #4fa2c3;
}
.add_project p{
  border: 2px solid #4fa2c3;
  background: #4fa2c3;
  color: #fff;
  padding: 6px 15px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}
.card_proj{
  background: #fff;
  margin-top: 15px;
  width: 225px;
  height: 180px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%), 0px 0px 10px 1px rgb(0 0 0 / 19%);
}
.card_proj:hover{
  background: #4fa2c336;
}
.card_proj_body{
  z-index: -5;
}
.ti-card-proj{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.card_proj_body > div {
  border-bottom: 2px solid #4fa2c3;
  margin: 5px 0 0 0;
  padding: 5px 0;
}
.card_proj_body p{
  font-size: 12px;
  font-weight: bold;
}

.dt-258{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 5px;
}

.proj_progress{
  width: 100%;
  background-color: #ddd;
  border-radius: 25px;
}
#progress_Proj_bar{
  width: 10%;
  height: 5px;
  background-color: #4fa2c3;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 25px;
}
.pr_bar_box{
  border-bottom: none!important;
}
.pr_bar_box p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project_all{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project_all a{
  margin-right: 10px;
  margin-bottom: 5px;
}
.bgt-3{
  display: block;
  z-index: 9999;
}
.bgt-3 div{
  width: 5px;
  height: 5px;
  background: #4fa2c3;
  margin: 2px;
  border-radius: 50px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}


.projectLink::after{
  content: '';
  border-bottom: 1px solid #4fa2c3;
  width: 0%;
  background-color: #4fa2c3;
  display: block!important;
  transition: .5s ease-in;
}

.projectLink:hover::after{
  content: '';
  width: 100%;
  border-bottom: 1px solid #4fa2c3;
  display: block;
}
/**/

.Click-here {
  cursor: pointer;
  background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
  color: #fff;
  width: 180px;
  text-align: center;
  font-size: 16px;
  padding: 18px 0;
  margin: 0 auto;
  transition: background-image 3s ease-in-out;
}

.Click-here:hover {
  transition: background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}

.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}

.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 35px);
  overflow-y: auto;
}

.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}

.custom-model-inner div ion-icon,
.custom-model-inner .action_btn div ion-icon{
  font-size: 20px;
  margin-top: 8px;
}

.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 99;
  color: #fff;
  background: #4fa2c3;
  width: 36px;
  height: 36px;
  border-radius: 25px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}

@media screen and (min-width:800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}

@media screen and (max-width:799px) {
  .custom-model-inner {
    margin-top: 45px;
  }
}

#wrapper form{
  padding: 15px;
  border: 2px solid #4fa2c3;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}

#wrapper form div{
  display: grid;
  gap: 10px;
}

#wrapper form div input,
#wrapper form div select,
#wrapper form div textarea{
  background: none;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}

#wrapper form div select:focus-visible {
  border: 2px solid #4fa2c3;
}
#wrapper form div input:focus-visible{
  border: 2px solid #4fa2c3!important;
}

#wrapper form div input:focus {
  border: 2px solid #4fa2c3 !important;
}

#wrapper form button{
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin: 15px 0;
  border: none;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
  background: #fff;
  color: #4fa2c3;
  font-weight: bold;
  cursor: pointer;
}

#wrapper form button:hover {
  background: #4fa2c3;
  color: #fff;
  border: none;
}

#wrapper-t form {
  padding: 15px;
  border: 2px solid #4fa2c3;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}

#wrapper-t form div{
  
}

#wrapper-t form div input,
#wrapper-t form div select,
#wrapper-t form div textarea {
  background: none;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}

#wrapper-t form div select:focus-visible {
  border: 2px solid #4fa2c3;
}

#wrapper-t form div input:focus-visible {
  border: 2px solid #4fa2c3 !important;
}

#wrapper-t form div input:focus {
  border: 2px solid #4fa2c3 !important;
}

#wrapper-t form button {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin: 15px 0;
  border: none;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
  background: #fff;
  color: #4fa2c3;
  font-weight: bold;
  cursor: pointer;
}

#wrapper-t form button:hover {
  background: #4fa2c3;
  color: #fff;
  border: none;
}


.proj_228_content{
  display: flex;
}
.proj_228{
  background: #4fa2c326;
  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.card_proj-task{
  border-radius: 10px;
  padding: 5px 10px;
  width: 225px;
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%),
    0px 0px 10px 1px rgb(0 0 0 / 19%);
}

.task_des{
  max-width: max-content;
  max-height: 130px;
  min-height: 125px;
  min-width: 360px;
}
.left-form{
  max-width: 450px;
  width: 400px;
}

#staskup-Show{
  width: 75%!important;
}

.right-form{
  width: 250px;
  padding: 5px;
}
.right-form select,
.right-form div > input{
  width: -webkit-fill-available;
  border-radius: 25px!important;
}
.proj_head{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #4fa2c3;
}

.card_proj_description,
.card_proj_users{
  border-bottom: 2px solid #4fa2c3;
  padding: 10px 0;
}
.card_proj_description{
  font-size: 12px;
}

.card_proj_users{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_proj_users span{
  font-size: 15px;
  
  border-radius: 15px;
}

.card_proj_progress{
  padding: 10px 0;
}

.card_proj_progress .proj_progress-task{
  margin: 10px 0;
}
.proj_progress-task {
  width: 100%;
  background-color: #ddd;
  border-radius: 25px;
}

#progress_Proj_bar_task {
  width: 10%;
  height: 5px;
  background-color: #4fa2c3;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 25px;
}

.card_proj_progress span{
  font-size: 12px;
  font-weight: bold;
}
.card_proj_progress p,
.card_proj_head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_tasks{
  margin-top: 15px;
}
.add_tasks a{
  background: #4fa2c3;
  border-radius: 15px;
  padding: 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%),
    0px 0px 10px 1px rgb(0 0 0 / 19%);
}

.add_tasks a ion-icon{
  margin-bottom: -2px;
  font-weight: bold;
  color: #fff;
}

.card_proj_team{
  background: #fff;
  margin-top: 15px;
  margin-right: 15px;
  width: 205px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%), 0px 0px 10px 1px rgb(0 0 0 / 19%);
}
.bgt-3_team{
  display: block;
  z-index: 9999;
  position: relative;
  right: -9px;
  width: 10px;
  height: auto;
  float: right;
  cursor: pointer;
}
.bgt-3_team div{
  width: 5px;
  height: 5px;
  background: #4fa2c3;
  margin: 2px;
  border-radius: 50px;
}
.card_proj_body_team .ti-card-proj-2{
  border-bottom: 2px solid #4fa2c3;
  margin: 5px 0 0 0;
  padding: 5px 0;
  display: block!important;
}
.card_proj_body_team .ti-card-proj {
  border-bottom: none;
  margin: 5px 0 0 0;
  padding: 5px 0;
  display: block !important;
  text-align: center;
  text-transform: uppercase;
}
.card_proj_body_team p {
  font-size: 12px;
  font-weight: bold;
}
.img_team img{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 1px solid;
}
.team_r{
  padding: 5px 0;
}
.team_r span{
  background: #4fa2c366;
  border-radius: 10px;
  padding: 0.5px 2px;
  font-size: 10px;
}
.card_proj_body_team .team_dt_box{
  padding: 5px 0;
}
.teamType{
  font-size: 14px!important;
}
.teamHead div{
  width: 100%;
  height: 100px;
  background-image:url('../../asset/medias/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.imgTeam{
  width: 100%;
  height: 200px;
  background-image: url('../../asset/medias/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.showTeamContent > p{
  padding: 15px 0;
  font-weight: bold;
}

.mberTeam{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mberTeam div{
  display: flex;
  align-items: center;
  border: 2px solid #4fa2c3;
  padding: 2px 5px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.mberTeam div p{
  margin-bottom: 0;
}
.action_btn{
  position: absolute;
  right: 20px;
  top: 59px;
  z-index: 99;
}

.action_btn div{
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 25px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 27%);
}
.action_btn .delete{
  background: #e00d0d;
  margin-bottom: 5px;
}
.action_btn .update{
background: #15dd1f;
}
.imgTeam_mber{
  text-align: center;
}
.imgTeam_mber img{
  width: 150px;
  height: 150px;
}
.showMberTeam-inner{
  width: 300px!important;
}

.mber_card_show{
  text-align: center;
}

.nav_task{
  justify-content: space-around !important;
  width: 70px;
  cursor: pointer;
}
.addTasks{
  cursor: pointer;
  color: #4fa2c3;
}

#staskPop{
  width: 850px;
}

#staskPop form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.open>.dropdown-menu {
  display: block;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;
  height: 195px;
}

.form-control {
  width: 100%;
}

.multiselect-container {
  box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
  margin: 0;
}

.multiselect-container .checkbox {
  margin: 0;
}

.multiselect-container li {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.multiselect-container li a {
  line-height: 25px;
  margin: 0;
  padding: 0 35px;
}

.custom-btn {
  width: 100% !important;
}

.custom-btn .btn,
.custom-multi {
  text-align: left;
  width: 100% !important;
}

.dropdown-menu>.active>a:hover {
  color: inherit;
}

.custom-btn button{
  height: 50px;
}

.show_des_t{
  background: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  height: auto;
}

.tle_show_t{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_show_left_t{
  max-width: 600px;
  width: 500px;
  max-height: 500px;
  height: 495px;
  overflow-y: auto;
}

.content_show_left_t > div{
  margin: 15px 0;
}

#wrapper-t-show{
  display: flex;
  justify-content: space-between;
}

.t_show_t .proj_progress-task,
.t_show_t .proj_progress-task #progress_Proj_bar_task{
  height: 10px;
}

.t_show_t,
.t_show_t ul{
  padding: 10px 0;
}

/*tchat task*/
.wrapperz {
  width: 460px;
}

.wrapperz .title {
  background: #007bff;
  color: white;
  line-height: 2.5;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 20px;
}

.wrapperz .box {
  border: 1px solid #efefef;
  padding: 10px 15px;
  min-height: 400px;
  max-height: 470px;
  height: 450px;
  overflow-y: auto;
}

.wrapperz .box .item {
  display: flex;
  float: left;
  margin: 10px 0;
}

.wrapperz .box .item .icon {
  background: #007bff;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.wrapperz .box .item .msg {
  background: #007bff;
  color: white;
  border-radius: 10px;
  width: 150px;
  margin-left: 10px;
}

.wrapperz .box .item .msg p {
  padding: 10px;
}

.wrapperz .box .item.right {
  float: right;
}

.wrapperz .box .item.right .msg {
  background: #efefef;
  color: #333;
}

.wrapperz .typing-area {
  width: 100%;
  background: #efefef;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapperz .typing-area .input-field {
  width: 100%;
  position: relative;
}

.wrapperz .typing-area .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  padding-right: 70px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all ease;
}

.wrapperz .typing-area .input-field input:focus {
  border-color: #007bff;
}

.wrapperz .typing-area .input-field button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: 1px solid #007bff;
  padding: 0px 10px;
  border-radius: 3px;
  color: #007bff;
  outline: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}

.wrapperz .typing-area .input-field button:hover {
  background: #007bff;
  color: white;
}

.wrapperz .typing-area .input-field input:valid~button {
  opacity: 1;
  pointer-events: auto;
}

.new {
  padding: 5px 0;
}
.new form{
  padding: 15px 0;
}
.form-group {
  display: block;
  margin-bottom: 5px!important;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checklist-progressbar .progressbar {
  box-sizing: content-box;
  position: relative;
  border-radius: 15px;
  background-color: #ddd;
  height: 10px;
  margin-top: 1.5em;
  margin-right: 2.6em;
}

.checklist-progressbar .progressbar .progressbar-inner {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: green;
  transition: all .3s linear;
  border-radius: 15px;
}

.checklist-progressbar .progressbar .progressbar-value {
  position: absolute;
  top: -.25em;
  right: -2.6em;
  min-width: 2.6em;
  width: 15%;
  font-size: 1em;
  line-height: 1;
  text-align: right;
}